@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-size: calc(15px + 0.5vw);
  line-height: calc(22px + 0.6vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 calc(16px+ 1vw) 0;
}


::-moz-selection {
  background-color: #000000;
  color: #fff;
}

::selection {
  background-color: #000000;
  color: #fff;
}